.hidden {
    display: none;
}
body {
    background-color: #fae1df;
    color: #0d1f2d;
}

body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #0d1f2d;
    height: 200px;
    width: 100%;
    z-index: -1;
}

body:after {
    top: 30px;
    background: #0d1f2d;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(6.5deg);
    transform-origin: 100%;
    z-index: -1;
}

.container {
    width: 85%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.header h1 {
    color: #fae1df;
    font-weight: 800;
    letter-spacing: 1px;
}

.main-image {
    width: 85%;
    max-width: 220px;
    margin: 0 auto;
}

.main-image img {
    border: 5px solid #efefef;
    box-shadow: 1px 2px 3px #0f0f0f;
    border-radius: 2px;
}

.footer {
    margin: 4.2rem auto 0 auto;
    text-align: center;
    background: #0d1f2d;
    color: #fae1df;
    padding: 1.2rem;
    font-size: .85rem;
    line-height: 1.2rem;
}

.footer a {
    color: #fae1df;
    break-inside: avoid;
    display: inline-block;
}

.wrap {
    margin: 0 auto;
    height: 194px;
    padding: 2.2rem 1.2rem;
}
a {
    color: #437c90;
}
p {
    margin: 1.2rem auto;
    max-width: 95%;
    font: 500 1rem 'Garamond';
}
h1 {
    margin-bottom: 60px;
    text-align: center;
    font: 300 2.4em 'Lato';
    text-transform: uppercase;
}
h1 strong {
    font-weight: 400;
    color: #ea4c4c;
}
h2 {
    margin: 3.2rem 0;
    text-align: center;
    font: 300 2em 'Lato';
    text-transform: uppercase;
}

h2 strong {
    font-weight: 600;
    break-inside: avoid;
    display: inline-block;
}

#not-today h2 {
    max-width: 72%;
    margin: 2.2rem auto;
}

h3 {
    margin-bottom: 0.6rem;
    margin-top: 2.4rem;
    font: 300 1.6rem 'Lato';
    text-transform: uppercase;
    border-bottom: 1px solid #0d1f2d;
}
h3 strong {
    font-weight: 600;
    break-inside: avoid;
    display: inline-block;
}

.countdown h3 {
    text-align: center;
    margin-bottom: 1.2rem;

}

#today {
    margin-bottom: 4.2rem;
}

.trailer-player {
    text-align: center;
}

.trailer-player iframe {
    max-width: 85%;
    max-height: 85%;
}

.countdown {
    width: 307px;
    margin: 0 auto;
}
.countdown .bloc-time {
    float: left;
    margin-right: 15px;
    text-align: center;
}
.countdown .bloc-time:last-child {
    margin-right: 0;
}
.countdown .count-title {
    display: block;
    margin-bottom: 15px;
    color: #1a1a1a;
    font: normal 0.74em 'Lato';
}
.countdown .figure {
    position: relative;
    float: left;
    margin-right: 2px;
    background-color: #fff;
    border-radius: 8px;
    height: 30px;
    width: 28px;
}
.countdown .figure:last-child {
    margin-right: 0;
}
.countdown .figure > span {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: #f45b69;
    font: normal 1.24em/31px 'Lato';
    font-weight: 700;
}
.countdown .figure .top:after, .countdown .figure .bottom-back:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.countdown .figure .top {
    z-index: 3;
    background-color: #f7f7f7;
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
}
.countdown .figure .bottom {
    z-index: 1;
}
.countdown .figure .bottom:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, .02);
}
.countdown .figure .bottom-back {
    z-index: 2;
    top: 0;
    height: 50%;
    overflow: hidden;
    background-color: #f7f7f7;
}
.countdown .figure .bottom-back span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.countdown .figure .top, .countdown .figure .top-back {
    height: 50%;
    overflow: hidden;
}
.countdown .figure .top-back {
    z-index: 4;
    bottom: 0;
    background-color: #fff;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
.countdown .figure .top-back span {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
}


@media (min-width: 481px) {
    .countdown {
        width: 400px;
        margin: 0 auto;
    }

    .countdown .figure {
        height: 40px;
        width: 38px;
    }

    .countdown .count-title {
        font: normal 0.94em 'Lato';
    }

    .countdown .figure > span {
        font: normal 1.84em/41px 'Lato';
    }
}

@media (min-width: 769px) {
    .wrap {
        height: 204px;
    }
    .countdown {
        width: 515px;
        margin: 0 auto 2.2rem auto;
    }

    .countdown .figure {
        height: 60px;
        width: 50px;
        margin-right: 4px;
    }

    .countdown .count-title {
        font: normal 1.24em 'Lato';
    }

    .countdown .figure > span {
        font: normal 1.94em/61px 'Lato';
    }
}